<div class="row container">
    <div class="col s12 m5 l12">
        <div class="card-panel">
            <div class="card">
                <div class="card-header">
                    <h4><a class="link" href="/dashboard/edit/{{id}}">{{title}}</a></h4>
                </div>
            </div>
        </div>
    </div>