<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tech Blog</title>
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/materialize.css">
  {{!-- google fonts --}}
  <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
  {{!-- navbar --}}
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Tech Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="link" href="/">Home</a></li>
        <li><a class="link" href="/dashboard">Dashboard</a>
          {{#if loggedIn}}</li>
        <li><a class="link" href="/" id="logout">Logout</a>
          {{else}}</li>
        <li><a class="link" href="/login">Login</a>
          {{/if}}</li>
      </ul>
    </div>
  </nav>
  {{!-- body contents --}}
  <main>
    {{{ body }}}
  </main>
  </div>
  {{!--J Query--}}
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  {{!-- shows log out button once logged in --}}
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  {{!-- javascript for materialize --}}
  <script type="text/javascript" src="js/materialize.js"></script>

</body>

</html>