<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/public/css/style.css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  {{!-- navbar --}}
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Tech Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="link" href="/">Home</a></li>
        <li><a class="link" href="/dashboard">Dashboard</a>
          {{#if loggedIn}}</li>
        <li><a class="link" href="/" id="logout">Logout</a>
          {{else}}</li>
        <li><a class="link" href="/login">Login</a>
          {{/if}}</li>
      </ul>
    </div>
  </nav>
  {{!-- body contents --}}
  <main>
    {{{ body }}}
  </main>
  </div>
  {{!-- shows log out button once logged in --}}
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>

</html>