<div class="row container">
    <div class="col s12 m5 l12">
        <div class="card-panel">
            <article class="post">

                {{#each posts as |post| }}
                {{> post-info post}}
                {{/each}}

            </article>
        </div>
    </div>
</div>